<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./assets/login.css">
</head>
<body>
    
    <section class="login">
        <form action="POST">
        <h1>LOGIN</h1>
            <div class="input-field">
                 <input  type="email" name="email" id="email" required>
                 <label for="name">Email</label>

             </div>
             <div class="input-field">
                 <input  type="password" name="password" id="password"  required>
                 <label for="email">Password</label>


             </div>
             <input class="dark" type="submit" value="Send">

        </form>
    </section>
    <div>
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
  </div>
    
</body>
</html>